    <div class="container" >
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div id="b1">
          <h1 style="text-align:center">Registration Form</h1>
          <form class="form-group text-center" >
            
    
              <div class="row">
                <div class="col-lg-6">
                  <label>FirstName:</label>
                  <input type="text" name="fname" placeholder="Enter your first name" class="form-control" [(ngModel)]="data.fname">
                </div>
                <div class="col-lg-6">
                  <label>LastName:</label>  
                  <input type="text" name="lname" placeholder="Enter your last name" class="form-control"[(ngModel)]="data.lname" >
                </div>
                
              </div>
              <br>
                  <label>Email-id</label>
                  <input type="email" name="email" placeholder="Enter E-mail" class="form-control"[(ngModel)]="data.email" ><br>
              <div class="row">
                <div class="col-lg-6">
                  <label>Password:</label>
                  <input type="password" name="password" placeholder="Enter your Pasword " class="form-control" [(ngModel)]="data.password" >
                </div>
                <div class="col-lg-6">
                  <label>ReEnter Password:</label>  
                  <input type="password" name="repassword" placeholder="Re-Enter your Password" class="form-control" [(ngModel)]="data.repassword">
                </div>
              </div>
              <br>
                  <!-- <label> Gender</label>
               <select class="form-control"  >
                 <option name="gender" [(ngModel)]="data.gender">Male</option>
                 <option name="gender" [(ngModel)]="data.gender">Female</option>
                 <option name="gender" [(ngModel)]="data.gender">Others</option>
              </select><br> -->
                <label>Address</label>
                <input type="text" name="address" placeholder="Enter your Full Address" class="form-control" [(ngModel)]="data.address" ><br>
                <button (click)="add(data)" class="btn btn-primary btn-block" >submit</button >
                
          </form>
        </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <table class="table table-trapped">
        <tr>
          <th>ID</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>EMAIL</th>
          <th>PASSWORD</th>
          <th>REPASSWORD</th>
          <!-- <th>GENDER</th> -->
          <th>ADDRESS</th>
          
        </tr>
        
        <tr *ngFor="let data of apiarray; let i=index">
        
          <td>{{i}}</td>
          <td>{{data.fname}}</td>
          <td>{{data.lname}}</td>
          <td>{{data.email}}</td>
          <td>{{data.password}}</td>
          <td>{{data.repassword}}</td>
          <!-- <td>{{data.gender}}</td> -->
          <td>{{data.address}}</td>
          
          
          
          <td><button type="button" class="btn btn-primary" [routerLink]="['/editform']" (click)="edit(data._id, i)">EDIT</button></td>
          <td><button type="button" class="btn btn-primary"(click)="deleteRowData(data._id)">DELETE</button></td>
          
        </tr>
    </table>
  </div> 

