<div  style="background-color: black ;background-repeat:no-repeat ;background-size:cover" >
    <div class="container pt-5 " >
        <h3 style="color:white">HOSTING</h3>
        <h1 style="color:yellow">Unlimited Web Hosting</h1>
        <h2 style="color:yellow">Web Hosting Made Easy And Affordable!</h2>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 mt-3">
            <form>
               <label style="color:white">
                <input type="checkbox" value="" checked style="color:white" >UNLIMITED disk Space
               </label>
                <label style="color:white">
              <input type="checkbox" value="" checked> UNLIMITED Bandwidth
              </label>
              <label style="color:white">
                 <input type="checkbox" value="" checked>EASY Control Panel(Try Demo)
                 </label>
                 <label style="color:white">
                 <input type="checkbox" value="" checked>1-Click Script Installs
                 </label>
                 <label style="color:white">
                 <input type="checkbox" value="" checked>$100 Google AdWords Offer
              </label>
            </form>
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 mt-3">
            <form>
            	<label style="color:white">
     		      <input type="checkbox" value="" checked>4,500 Free Website Templates
     		      </label>
              <label style="color:white">
     			    <input type="checkbox" value="" checked>99.9% Uptime Guarantee
     		      </label>
     		      <label style="color:white">
     		      <input type="checkbox" value="" checked>45 Days Money Bank Guarantee
     		      </label>
     		      <label style="color:white">
     		      <input type="checkbox" value="" checked>24/7/365 Techinical Support
     		     </label>
     		    </form>
          </div>
          <div  class="col-md-4 col-xs-4 col-sm-4 col-lg-4 mt-3" >
            	<h6 style="color:white">Starting at Only</h6>
            	<h1 style="color:white">$3.96<small>/mo*</small></h1>
            	<input type="submit" value="Get Started Now!       ">
          </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
            <div class="card shadow ">
              <div class="bg-danger p-3">
                 <h2 class="card-title">Reseller Hosting</h2>
                 <h4 class="card-title">Starting at</h4>
                 <h1 class=" card-title">$19.96<small>/mo*</small></h1>
              </div>
                 <h6 class="text-secondary ml-3 mt-3">Unlimited Disk Space</h6>
                 <h6 class="text-secondary ml-3">Unlimited Bandwidth</h6>
                 <h6 class="text-secondary ml-3 ">EASY COntrol Panel(Try Demo)</h6>
                 <h6 class="text-secondary ml-3 ">1-Click Script Installs</h6>
                 <h6 class="text-secondary ml-3">$100 Google AdWords Ofeer</h6>
                 <h6 class="text-secondary ml-3 ">4,500 Free Websites templates</h6>
                 <h6 class="text-secondary ml-3 ">99.9%Uptime Guarantee</h6>
               <div class=" ml-3 mb-3" > 
                 <button type="button" style="width:250px;height:40px;background-color: blue;" >Get Started Now!</button> 
              </div>
            </div> 
          </div>
          <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
            <div class="card shadow ">
              <div class="bg-warning p-3">
                <h2 class="card-title">VPS Hosting</h2>
                <h4 class="card-title">Starting at</h4>
                <h1 class=" card-title">$11.96<small>/mo*</small></h1>
              </div>
                <h6 class="text-secondary ml-3 mt-3">Unlimited Disk Space</h6>
                <h6 class="text-secondary ml-3">Unlimited Bandwidth</h6>
                <h6 class="text-secondary ml-3 ">EASY COntrol Panel(Try Demo)</h6>
                <h6 class="text-secondary ml-3 ">1-Click Script Installs</h6>
                <h6 class="text-secondary ml-3">$100 Google AdWords Ofeer</h6>
                <h6 class="text-secondary ml-3 ">4,500 Free Websites templates</h6>
                <h6 class="text-secondary ml-3 ">99.9%Uptime Guarantee</h6>
              <div class="ml-3 mb-3" > 
                <button type="button" style="width:250px;height:40px;background-color: blue;" >Get Started Now!</button> 
              </div>
            </div> 
          </div>
          <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
            <div class="card shadow " >
              <div class="bg-success p-3">
                <h2 class="card-title">Dedicating  Hosting</h2>
                <h4 class="card-title">Starting at</h4>
                <h1 class=" card-title">$89.96<small>/mo*</small></h1>
              </div>
                <h6 class="text-secondary ml-3 mt-3">Unlimited Disk Space</h6>
                <h6 class="text-secondary ml-3">Unlimited Bandwidth</h6>
                <h6 class="text-secondary ml-3 ">EASY COntrol Panel(Try Demo)</h6>
                <h6 class="text-secondary ml-3 ">1-Click Script Installs</h6>
                <h6 class="text-secondary ml-3">$100 Google AdWords Ofeer</h6>
                <h6 class="text-secondary ml-3 ">4,500 Free Websites templates</h6>
                <h6 class="text-secondary ml-3 ">99.9%Uptime Guarantee</h6>
              <div class=" ml-3 mb-3" > 
                <button type="button" style="width:250px;height:40px;background-color: blue;" >Get Started Now!</button> 
              </div>
            </div> 
          </div>
      </div>
  </div>
  <div class="container pt-5">
      <div class="row">
        <div class=" col-md-4 col-xs-4 col-lg-4">
            <img src="assets/images/p4.jpg" class="rounded-circle" alt="pic" width="304" height="236">
          </div>
          <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
               <h3 style="color:white">We Are With You Every Steps Of The Way!</h3>
               <p style="color:white">This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
            </div>
         </div>
     </div>
    <div class="container p-5">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="color:white" > Get Started! Quick and Easy</h3>
        <p style="color:white">This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
        <button type="button" style="width:200px;height:40px;background-color: blue;" >Learn More</button> 
      </div>
    
      <div class="col-sm-4">
       <img src="assets/images/p6.jpg" class="rounded-circle" width="304" height="236">
      </div>
    </div>
    </div>
    <div class=" container bg-secondary pt-5">
	<div class="row">
	   <div class="col-md-2">
	        <img src="assets/images/p9.jpg" class="rounded-circle" width="80" height="80">
	   </div>
	   <div class="col-md-4">
	    	<h3>Dolar Magna Alique</h3>
	    	<p> This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
	   </div>
	   <div class="col-md-2">
	    	<img src="assets/images/p10.jpg" class="rounded-circle" width="80" height="80">
	   </div>
	   <div class="col-md-4">
	    	<h3>Dolar Magna Alique</h3>   
	        <p>This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
       </div>
    </div>
    <div class="row">
		<div class="col-md-2">
	        <img src="assets/images/p13.jpg" class="rounded-circle" width="80" height="80">
	    </div>
	    <div class="col-md-4">
	    	<h3>Dolar Magna Alique</h3>
	    	<p> This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
	    </div>
	    <div class="col-md-2">
	    	<img src="assets/images/p12.jpg" class="rounded-circle"
	    	width="80" height="80">
	    </div>
	    <div class="col-md-4">
	    	<h3>Dolar Magna Alique</h3>   
	        <p>This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
        </div>
</div>
</div>
<div class="container pt-5">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/p14.jpg" class="rounded-circle"
            width="80" height="80">
          <blockquote>
          <p style="color:white">This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
          <footer style="color:white">
          -Lorem Ipsum</footer>
          </blockquote>
      </div>
      <div class="col-md-4">
          <img src="assets/images/p15.jpg" class="rounded-circle"
            width="80" height="80">
          <blockquote>
          <p style="color:white">This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
          <footer style="color:white"> -Mark </footer>
          </blockquote>
      </div>
      <div class="col-md-4">
        <img src="assets/images/p16.jpg" class="rounded-circle " width="80" height="80">
        <blockquote>
        <p style="color:white">This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. Whether you’re doing it yourself or looking for someone else to do it for you, we’ll walk you through the necessary steps for getting online quickly and easily.</p>
        <footer style="color:white">-Dhroukh</footer>
          </blockquote>
      </div>
    
    </div>
    </div>
    
<div class="container bg-secondary p-3">
    <p><b>Reseller Hosting Features</b></p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="pt-3">
       <button type="button"  style="width:250px;height:40px;background-color: blue;" >Free With Each Reseller Plan</button> 
               </div>
               <div class="pt-3">
           <button type="button"  style="width:250px;height:40px;background-color: blue;" >WHM Contro Panel</button> 
               </div>
               <div class="pt-3">
           <button type="button"  style="width:250px;height:40px;background-color: blue;" >cPanel Control Panel</button> 
              </div>
          </div>
  
          <div class="col-md-4 bg-secondary  ">
            
            <h5>Computer</h5>
            <p>A Computer is a machine that can be istructed to carry sequences of airthmetic operations via computer programming</p>
            <h5>Control System</h5>
            <p>Computer are used as control systems for a wide variety of industrials and consumer devices.This includes simle special purpose devices likes ovens and remote controls</p>
            <h5>Computer</h5>
            <p>A Computer is a machine that can be istructed to carry sequences of airthmetic operations via computer programming</p>
          </div>
          <div class="col-md-4 bg-secondary ">
            
            <h5>Computer</h5>
            <p>A Computer is a machine that can be istructed to carry sequences of airthmetic operations via computer programming</p>
            <h5>Control System</h5>
            <p>Computer are used as control systems for a wide variety of industrials and consumer devices.This includes simle special purpose devices likes ovens and remote controls</p>
            <h5>Computer</h5>
            <p>A Computer is a machine that can be istructed to carry sequences of airthmetic operations via computer programming</p>
  
          </div>
        </div>
  </div>
  <div class="container bg-warning mt-3 p-3">
      <form>
        <b>Subscribe</b>
        
        <input type="text" name="email" placeholder="please enter your e-mail" style="width:600px">
      
        <input type="submit" value="subscribe">
        <p>Enter your email address to subscribe this .This page is catch-all guide to hosting your website. Every site, however big or small, needs good hosting. It pays to get it right. </p>
      </form>
    </div>
    <div class="container bg-secondary px-5 py-5"> 
        <div class="row"> 
            <div class="col mx-1">
            	<h4 style="color:white">Hosting</h4>
            	<h5>Web Hosting</h5>
            	<h5> Vps Hosting</h5>
            	<h5>Dedicating Hosting</h5>
            	<h5>Application Hostong </h5>
            	<h5>Window Hosting</h5>
            </div>
            

            <div class="col mx-1">
            	<h4 style="color:white">Domain</h4>
            	<h5>Register Domain</h5>
            	<h5>Transfer Domain</h5>
            	<h5>Manage Domain</h5>

            </div> 
            <div class="col mx-1">
            	<h4 style="color:white">Support</h4>
            	<h5> Customer Portal</h5>
            	<h5> Video Tutorials</h5>
            	<h5>Forums</h5>
            	<h5>Live Chat</h5>
            	<h5>Bussiness on Top</h5>
            </div> 
            <div class="col mx-1">
            	<h4 style="color:white"> About</h4>
            	<h5>Awards</h5>
            	<h5>Awards and Reviews</h5>
            	<h5>Press And Media</h5>
            	<h5>Company Blog</h5>
            	<h5>Contact Us</h5>
            	<h5>Carrers</h5>
            </div> 
            <div class="col mx-1">
            	<h4 style="color:white">Contacts</h4>
                <p class='fas fa-map-marker-alt'> u-21 road </p>
                <p class='fas fa-phone'>800-4560-4567</p><br>
                <p class='fas fa-phone'>800-4560-4569</p>
            </div> 
        </div> 
</div>
<app-todolist></app-todolist>
